body {
    border: 1px solid #000;
font-family: Arial, Helvetica, sans-serif;
    margin: 25px;
    padding: 6px;
  }

  h1 {
    text-align: center;
  }


  .mid {
    display: flex;

    justify-content: space-between;
  }

  .bott {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  table {

    border-collapse: collapse;
    width: 50%;
  }

  th,
  td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
  }

  th {
    font-weight: bold;
  }

  a {
    color: green;
  }

  a:link {
    color: green;
  }

  a:visited {
    color: red;
  }

  a:active {
    color: blue;
  }

  h1,
  h2,
  h3 {
    color: maroon;
  }

  table {
    border: 2px solid blue;
  }

  caption {
    color: blue;
  }